* {
  margin: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
}

/* profile styling  */

.profile-card {
  background-color: rgb(30, 198, 207);
  height: 50vh;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .profile-card {
    background-image: url('/image/profile-bg.jpeg');
     background-size: cover;
    height: 50vh;
    border-radius: 10px;
  }
  .navbar {
    padding-bottom: 0px;
  }

  .image-card {
    width: 280px;
  }

  .profi1-img {
    width: 170px;
    border-radius: 50%;
    height: 170px;
    padding: 10px;
    background-color: white;
  }

  .profile-section {
    padding: 10px;
    margin-top: 40px;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .profile-card {
    background-image: url('/image/profile-bg.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 30vh;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar {
    padding-bottom: 10px;
  }
  .image-card {
    width: 210px;
  }
  .profi1-img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    padding: 6px;
    background-color: white;
  }
  .profile-section {
    padding: 10px;
    margin-top: 40px;
  }
}

.profi2-img {
  width: 100px;
  border-radius: 50%;
  height: 100px;
  padding: 7px;
  background-color: white;
  border: 1px solid rgb(174, 172, 172);
  margin-right: 5px;
}

.logo-img1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
}

.edit-icon {
  margin-top: 3px;
  font-size: 15px;
  margin-right: 5px;
  font-weight: bold;
}

.edit-icon1 {
  margin-top: 3px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}

.modal-card{
  background-image: url('/image/profile-bg.jpeg');
  background-size: cover;
  background-position: center;
  padding: 10px;
  border-radius: 10px;
}
.online-list{
  height: 30vh;
  width: 30vw;
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  /* justify-content: space-between; */
}
.online-card{
  display: flex;
column-gap: 30px;
  padding-top: 20px;
  height: 40vh;
}