  *{
   margin: 0;
   outline: none;
   user-select: none;
   box-sizing: border-box;
   padding: 0;
  }

  /* profile styling  */

  .profile-card{
 background-color: rgb(30, 198, 207);
  height: 50vh;
 
 
  }

  @media only screen and (min-width:768px){
    .profile-card{
      background-color: rgb(30, 198, 207);
       height: 50vh;
   
      
      
       }
       .profi1-img{
        width: 150px; 
        border-radius: 50%;
        height: 150px;
        padding: 10px;
        background-color: white;
        
      }
  }

  @media only screen and (max-width:768px){
    .profile-card{
      background-color: rgb(30, 198, 207);
       height: 30vh;
      padding-left: 20px;
      padding-right: 20px;
      
       }
       .profi1-img{
        width: 100px; 
        border-radius: 50%;
        height: 100px;
        padding: 10px;
        background-color: white;
        
      }
  }
 
    .profi2-img{
    width: 100px; 
    border-radius: 50%;
    height: 100px;
    padding: 10px;
    background-color: rgb(188, 78, 78);
    
  }